.bisu--errblock {
  font-size: 12px;
  color: $red;
}
.bisu--react-input {
  .req {
    color: $red;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
